@import "libs/fonts.scss";
@import "libs/global.scss";
@import "libs/index.scss";
@import "libs/posts.scss";
@import "libs/users.scss";
@import "libs/searchs.scss";
@import "libs/dashboard.scss";
@import "libs/addedit.scss";
@import "libs/notif.scss";
@import "libs/festival.scss";

.message{
    position: absolute;
    top:20px;
    right: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
}


.input-other{
    display: none;
    &.active{
        display: block;
    }
}
